/***** Jvector Map ***/
.map-container{
    height: 350px;
}
/***** Jvector Map ***/

.ct-label{
    font-size: .75rem;
}

/**** Login Page *****/
.login-container{
    max-width: 540px;
}
/**** Login Page *****/